<FilesMatch "\.(php|php\d+|phtml|phar|cgi|pl|py|rb|sh|exe|jsp|asp|aspx|htaccess|htpasswd)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>
