  <div class="all-cases">
    <div class="layer"> </div>
    <!-- end layer -->
    <div class="inner">
      <ul>
        <li><a href="/portfolio#erp-construction">ERP Construction</a></li>
        <li><a href="/portfolio#barbershop-app">Barbershop App</a></li>
        <li><a href="/portfolio#binary-tech">Binary Tech</a></li>
        <li><a href="/portfolio#cielo-cura">Cielo Cura</a></li>
        <li><a href="/portfolio#dandanoma">Dandanoma</a></li>
        <li><a href="/portfolio#inviguard">InviGuard</a></li>
        <li><a href="/portfolio#jam-sembilan">Jam Sembilan</a></li>
        <li><a href="/portfolio#pos-system">POS System</a></li>
      </ul>
    </div>
    <!-- end inner -->
  </div>
  <!-- end all-cases -->
