  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul>
            <li><a href="https://www.instagram.com/dopagencydigital/" target="_blank" rel="noopener"><i
                  class="fab fa-instagram"></i></a></li>
            <li><a href="https://wa.me/6282125189383" target="_blank" rel="noopener"><i class="fab fa-whatsapp"></i></a>
            </li>
            <li><a href="mailto:info@dopagency.com"><i class="fas fa-envelope"></i></a></li>
          </ul>
          <h6>LET&rsquo;S TALK ABOUT YOUR PROJECT</h6>
          <h2>Siap Membawa Bisnis Anda ke Level Berikutnya?</h2>
          <p>Mari berdiskusi bagaimana kami dapat membantu Anda dengan solusi digital terbaik.</p>
          <a href="https://wa.me/6282125189383" class="link" target="_blank" rel="noopener">Hubungi Kami via
            WhatsApp</a>
        </div>
        <!-- end col-12 -->
        <div class="col-12">
          <div class="footer-bar"> <span class="copyright">BSD Tangerang | +62 821 2518 9383
              | info@dopagency.com</span> <span class="creation">&copy; 2026 dopagency. All Rights
              Reserved.</span> </div>
          <!-- end footer-bar -->
        </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </footer>
