  <div class="social-media">
    <div class="layer"> </div>
    <!-- end layer -->
    <div class="inner">
      <h5>Ikuti Kami </h5>
      <ul>
        <li><a href="https://www.instagram.com/dopagencydigital/" target="_blank" rel="noopener"><i
              class="fab fa-instagram"></i></a></li>
        <li><a href="https://wa.me/6282125189383" target="_blank" rel="noopener"><i class="fab fa-whatsapp"></i></a>
        </li>
        <li><a href="mailto:info@dopagency.com"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
    <!-- end inner -->
  </div>
  <!-- end social-media -->
